[Desktop Entry]
Name=Lumina
Comment=Lumina 26.9 Cassiopeia on Chroma
Exec=chroma-session
TryExec=chroma-session
Type=Application
DesktopNames=Chroma;
