[Unit]
Description=Initialize Orange Pi Zero 3 UWE5622 Wi-Fi
After=local-fs.target systemd-udevd.service
Before=NetworkManager.service
ConditionPathExists=/usr/lib/firmware/wcnmodem.bin
ConditionPathExists=/usr/lib/firmware/wifi_2355b001_1ant.ini

[Service]
Type=oneshot
ExecStart=/usr/sbin/modprobe uwe5622_bsp_sdio
ExecStart=/usr/sbin/modprobe sprdwl_ng
ExecStart=/usr/sbin/modprobe sprdbt_tty
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
